*{
    margin: 0;
}
.box{
    width: 500px;
    height: 500px;
    background: linear-gradient(to top left,yellow,rgba(118, 10, 10, 0.322),yellow);
    margin: auto;
    margin-top:100px;
    border-radius: 250px;
    box-shadow: 0px 0px 10000px yellow;
}